<p class="footer">&copy; Copyright 2022 Patricia Cava & Jeanet Lin | 
  <br>Images from <a href="https://wallpaperaccess.com/food-photography" target="_blank" class="credits">Wallpaper Access</a>, 
    <a href="https://images.unsplash.com/photo-1604908815567-c9727d53f92a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" target="_blank" class="credits">Unsplash </a>
| Logo created at <a href="https://www.freelogodesign.org" target="_blank">FreeLogoDesign</a>
</p>