<div class="top-nav">
    <nav>
    <ul>
     <li><a href="/">Home</a></li>
     <li><a href="/user/profile">Profile</a></li>
     <li><a href="/user/signup">Sign Up</a></li>
     <li><a href="/user/login">Login</a></li>
     <!-- <li><a href="/user/logout">Logout</a></li> -->
  </nav>
</div>