<div>
    <form action="/nutri/tracknutrition" method="post">
        <input type="date" name="date" />
        <input type="text" name="meal" placeholder="meal"/>
        <input type="text" name="foodType" placeholder="food"/>
        <input type="number" name="portion" placeholder="portion"/>
        <input type="text" name="portionUnit" placeholder="portion unit"/>
        <input type="number" name="calories" placeholder="calories"/>
        <input type="number" name="carbs" placeholder="carbs"/>
        <input type="number" name="fat" placeholder="fat"/>
        <input type="number" name="protein" placeholder="protein"/>
        <button type="submit">Add</button>
    </form>
</div>

<div>


    
</div>

