<section>
<img src="../images/Trackify-square.png" alt="trackify-logo">
<p>
<h2>Welcome to Trackify</h2>
<p>Discover your nutrition and health patterns by 
    tracking your daily nutrition and activities, and get 
    inspired by delicious recipes you can try out!
<p>
    We are two students at Ironhack full-stack web development
    bootcamp who decided to design a tracking app for nutrition
    and health based on our mutual interest. 
<p>
    In this Trackify v.1 you will have the following functionalities:
   <li>1. Create an account </li>
   <li>2. Login with your credentials</li>
   <li>3. Track your nutrition by adding a food/drink item and its macro nutritiens per meal per daily</li>
   <li>4. You can also edit or delete your food entry</li>
   <li>5. You will be able to see a daily nutrition overview and a macro nutrition summary </li>
   <li>6. You can also search for recipes (e.g. tuna)</li> 
   
   
    
    
    
<br>
    In our following versions we will be activating the other tracking
    components. Stay tuned!
    <p>
    If you have any questions, feel free to contact us on 
    LinkedIn.
    
  
</p>
</section>