<section>
<img src="../images/Trackify-square.png" alt="trackify-logo">
<p>
<h2>Welcome to Trackify</h2>
<p>Optimize your health through discovering
the patterns of your eating habits!
</p>
</section>