  <body>
    <header> 
      <%- include('./partials/header'); %>
    </header>
  
    <%- include('./partials/tracknutriform'); %>

    <h2>profile</h2>

    <% data.forEach((record) => { %>
      <li>
        <%= record.foodType %>
      </li>
      <% }) %>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
    
  </body>

</html>