  <body>
    <header> 
      <%- include('./partials/header'); %>
    </header>
  
    <%- include('./partials/tracknutriform'); %>

    <h2>profile</h2>

    <ul>
      <% data.forEach((record) => { %>
      <li>
      <%= record.breakfast %>
   
    </li>
      <% }) %>
    </ul>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
    
  </body>

</html>