  <body>
    <header> 
      <%- include('./partials/header'); %>
    </header>
  
    <%- include('./partials/tracknutriform'); %>

    <h2>profile</h2>

    

    <footer>
      <%- include('./partials/footer'); %>
    </footer>
    
  </body>

</html>