<div class="profile-container">
  <div class="profile-parent">
    <div class="profile-child">
      <div class="grandchild one">
        <h1>Title One</h1>
        <div class="grandchild-child">
          <h2>Inner child one</h2>
        </div>
      </div>

      <div class="grandchild two">
        <h1>Title two</h1>
        <div class="grandchild-child"></div>
        <h2>inner child two</h2>
      </div>

      <div class="grandchild three">
        <h1>Title three</h1>
        <div class="grandchild-child">
          <h2>inner child three</h2>
        </div>
      </div>
    </div>
  </div>
</div>
