<div class="profile-page">
  <div class="user-info">
    <p class="headline1">My profile</p>
    <div class="profile"></div>
    <button class="crud-btns">Edit</button>
    <br>
    Username:
    <br>
    Email:
    <button class="crud-btns">Change password</button>
  </div>
  <div class="user-dashboard">
    <p class="headline1">My Dashboard</p>
    <p class="headline2">My report</p>
    <div class="report row">
      <div class="total-cal"></div>
      <button class="report-btn">View more</button>
    </div>
    <p class="headline2">Tracking</p>
    <div class="tracking row">
      <button class="track-btn"><a href="/nutri/tracknutrition" class="profilelinks">Nutrition</a></button>
      <button class="track-btn">Activity</button>
      <button class="track-btn">Sleep</button>
    </div>
    <p class="headline2">Recommendations</p>
    <div class="recommendation row">
      <button class="recommendation-btn">Recipes</button>
      <button class="recommendation-btn">Activity</button>
      <button class="recommendation-btn">Mindfulness</button>
    </div>
  </div>
</div>
<!-- <div class="profile-container">
  <div class="profile-parent">
    <div class="profile-child">
      <div class="grandchild one">
        <h1>Title One</h1>
        <div class="grandchild-child">
          <h2>Inner child one</h2>
        </div>
      </div>

      <div class="grandchild two">
        <h1>Title two</h1>
        <div class="grandchild-child"></div>
        <h2>inner child two</h2>
      </div>

      <div class="grandchild three">
        <h1>Title three</h1>
        <div class="grandchild-child">
          <h2>inner child three</h2>
        </div>
      </div>
    </div>
  </div>
</div> -->
