<h2>Find recipes to fill your calories goal</h2>
Max calories in the recipe 
<form action="/recipes/recipes" method="post"><input id="searchTerm" name="searchInput" type="text" placeholder="Enter search term" />
    <button id="search" type="submit">
      Search
    </button>
</form>