<h2>Find recipes to fill your calories goal</h2>
<div class="search-recipes-container">
  <form class="recipes-search-form" action="/recipes/recipes" method="post">
    <input id="searchTerm" name="searchInput" type="text" placeholder="Search for recipes by calories..." />
    <button id="search-btn" type="submit">
      Show results
    </button>
  </form>
</div>
<% if (data) { %>
<% data.forEach((record) => { %>
<ul>
  <li><%=record.recipe.label%></li>
  <img src="<%= record.recipe.image %>">
  <a href="<%= record.recipe.url %>">See the recipe here</a>
</ul>
<% }) %>
<% } %>
  