<div class="signup box">
    <% if (message) { %>
        <span class="error">&#128683; <%= message %> </span>
        <% } %>
    <h2>Create account</h2>
        <form action="/user/signup" method="post"> 
            <ul class="signup form">
                <li>
                    <input type="text" name="email" placeholder="Insert your email">
                </li> 
                <li>
                    <input type="text" name="username" placeholder="Choose your username">
                </li>    
                <li>
                    <input type="password" name="password" placeholder="Choose your password">
                </li>
                <li>
                    <button class="signup-btn" type="submit">Register</button>
                </li>
            </ul>
        </form>
    </div>
</div>