<h2>Update your food</h2>

<div>
    <form  action="/nutri/update/<%= food.id %>?_method=PUT" method="post">
        <input type="text" name="foodType" placeholder="food"/>
        <input type="number" name="portion" placeholder="portion"/>
        <input type="text" name="portionUnit" placeholder="portion unit"/>
        <input type="number" name="calories" placeholder="calories"/>
        <input type="number" name="carbs" placeholder="carbs"/>
        <input type="number" name="fat" placeholder="fat"/>
        <input type="number" name="protein" placeholder="protein"/>
        <button type="submit">Edit</button>
    </form>
</div>