body {
  padding-top: 60px;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  /* background-color: #FBF6F0; */
  /* background: linear-gradient(rgba(255, 164, 91) 0%, rgba(255, 218, 119) 100%); */
  /* overflow:hidden; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#nutri-diary-h2 {
  margin-left: 10px;
}

section {
  margin-top: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Top nav logo */
/* .trackify-logo {
  width: 160px;
  padding: 20px;
} */

/* HEADLINES / Titles */

.box h2 {
  color: black;
  margin-left: 500px;
}

.dashboard-headlines {
  margin-left: 10px;
}

.error {
  margin-left: 500px;
  width: 200px;
  height: 30px;
  background: rgb(243, 189, 189, 0.8);
  border: 1px solid red;
  color: red;
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 0.3em;
}

/* LINKS */
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

a.profilelinks {
  color: white;
}

/* NAVIGATION BAR */
.top-nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

nav {
  width: 500px;
  margin-left: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  align-items: flex-end;
}

/* SIGNUP & LOGIN FORMS */
ul li {
  list-style-type: none;
  margin-left: -40px;
  margin-top: 10px;
}

ul li button {
  margin-left: auto;
  padding: 10px 16px;
  border: none;
  background: #ffa45b;
  color: #fbf6f0;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: bold;
  border-radius: 12px;
  width: 200px;
  cursor: pointer;
  margin-left: 500px;
}

.box {
  background-image: url("../images/form-bg.jpg");
  background-size: cover;
  min-height: 85%;
  padding: 20px;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h2 {
  text-transform: uppercase;
  font-size: 1.2em;
}

.form li input {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: transparent;
  text-transform: uppercase;
  width: 200px;
  margin-left: 500px;
}

.form input:focus {
  outline: none;
  color: black;
  text-transform: lowercase;
  padding-left: 10px;
}

.form input,
select,
text {
  color: grey;
  padding-left: 10px;
}

::placeholder {
  color: black;
  padding-left: 5px;
  font-size: 0.8em;
}

/* PROFILE PAGE  */
.profile-page {
  /* border: 2px solid black; */
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: space-around;
  background-color: #fbf6f0;
}

/* >>User info */
.user-info {
  /* border: 1px solid green; */
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

.profile {
  /* border: 1px solid yellow; */
  margin-bottom: 10px;
  margin-top: 50px;
  height: 150px;
  width: 100%;
}

.profile,
img {
  max-width: 150px;
  max-height: 150px;
}

/* >>Dashboard */
.user-dashboard {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 90%;
}

.user-dashboard h2,
h3,
p {
  margin-left: 10px;
  color: black;
}

.report {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.row {
  /* border: 1px solid black; */
  margin: -10px;
}

.summary-box {
  margin: 10px;
  padding-top: 30px;
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: #ffa45b;
  font-size: 2em;
  color: white;
  border: none;
  border-radius: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name-tags {
  font-size: 0.5em;
}

.calories-box {
  width: 250px;
}

.tracking {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.track-btn {
  /* border: 1px solid fuchsia; */
  margin: 10px;
  height: 50px;
  width: 200px;
  background-color: #ffda77;
  border: none;
  border-radius: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recommendation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recommendation-btn {
  /* border: 1px solid fuchsia; */
  margin: 10px;
  height: 50px;
  width: 200px;
  color: white;
  background-color: #aee6e6;
  border: none;
  border-radius: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Food entry form  */
.nutri-tracking-container {
  /* background-color: #ffa45b; */
  background-image: url("https://images.unsplash.com/photo-1604908815567-c9727d53f92a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  height: 100px;
  border: none;
  border-radius: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nutri-form {
  display: flex;
  padding: 10px;
  margin: 2px;
  /* border: 1px solid black; */
}

.nutri-form input,
select,
button {
  border: none;
  margin-left: 5px;
  font-size: 1em;
  height: 30px;
  padding-right: 10px;
  border-radius: 0.3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* FOOD ENTRY FORM > input fields  */
#meals {
  width: 100px;
}

#food-item {
  width: 150px;
}

#portion,
#size,
#calories,
#protein {
  width: 80px;
}

#carbs,
#fat {
  width: 60px;
}

#date {
  padding-left: 10px;
  font-size: 0.8em;
}

#meal {
  padding-left: 10px;
  font-size: 0.8em;
}

/* DAILY NUTRITION OVERVIEW  */
table {
  border-collapse: collapse;
}

td,
th {
  /* border: 1px solid #fbf6f0; */
  padding: 0.5rem;
  text-align: left;
  font-weight: normal;
}

/* DAILY NUTRITION OVERVIEW > Meal sections */

.breakfast-box,
.lunch-box,
.dinner-box,
.snacks-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid green;
  border: none;
  border-radius: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nutrition-column-names,
td {
  font-size: 0.8em;
  font-weight: 900;
  text-decoration: underline;
}

.nutrition-column-names,
tr {
  font-size: 0.8em;
  line-height: 0.5;
}

.nutrition-column-names,
th {
  font-size: 0.9em;
  width: 50px;
  /* border: 1px solid black; */
}

.nutrition-column-names,
h3 {
  font-size: 1em;
  font-weight: 900;
}

/* .diary {
  border: 1px solid black;
} */



/* RECIPES PAGE */

/* RECIPES PAGE > Form  */
.search-recipes-container {
  background-image: url("https://images.unsplash.com/photo-1604908815567-c9727d53f92a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  height: 100px;
  border: none;
  border-radius: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipes-search-form {
    display: flex;
    padding: 10px;
    margin: 2px;
    /* border: 1px solid black;  */
}

.recipes-search-form input,
select,
button {
  border: none;
  margin-left: 5px;
  font-size: 1em;
  height: 30px;
  padding-right: 10px;
  border-radius: 0.3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.recipes-search-form input{
  background-image: url("../images/searchicon.png");
  background-position: 8px 6px;
  background-repeat: no-repeat;
  padding-left: 30px;
  width: 500px;
}

::placeholder {
  color: grey;
}

/* BUTTONS */

/* BUTTONS > Profile section */
.crud-btns {
  background-color: white;
  color: #ffa45b;
  border: 1px solid #ffa45b;
  border-radius: 0.8em;
  height: 1.8em;
  margin-bottom: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* BUTTONS > Food entry & Recipes Search form  */
#add-btn, #search-btn {
  font-size: 0.8em;
  font-weight: bold;
  width: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* BUTTONS > Nutrition Diary  */
.edit-btn {
  background-color: #ffa45b;
  width: 60px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.del-btn {
  border: 2px solid #ffa45b;
  background-color: white;
  width: 60px;
  cursor: pointer;
  text-transform: uppercase;
}

/* BUTTONS > Recipes Search Form */


/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: small;
}
